@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Fredericka the Great", cursive;
  justify-content: center;
  align-items: center;
}
.App {
  background-image: radial-gradient(#30be96, #0f653d, #0d2e23);
  height: 100vh;
  color: whitesmoke;
  border-width: 10px;
  border-style: groove;
  border-image: radial-gradient(#bc5312, #bc5312, #460603) 1;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.title {
  font-size: 55px;
  margin-left: 35%;
  margin-top: 10px;
}

.board {
  margin-bottom: 5rem;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}

.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.board-container {
  width: 30%;
  height: 30%;
  margin: 20px;
}

.square {
  background-color: transparent;
  cursor: pointer;
  user-select: none;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: "center";
  align-items: "center";
  font: 3.5rem "Fredericka the Great", cursive;
  color: white;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(225, 225, 225, 0.4),
    0 6px 20px 0 rgba(225, 225, 225, 0.4);
}

.square:hover {
  box-shadow: 1px 1px 10px 1px rgba(225, 225, 225, 0.95);
  background-color: rgba(225, 225, 225, 0.3);
}

.center {
  /* width: 50%; */
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.input {
  font-size: 30px;
}

.move {
  margin-top: 50px;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#in {
  /* width: px; */
  background: none;
  margin-left: 20px;
  border-bottom: 1 px dotted white;
  font-size: 30px;
  color: white;
  font-family: "Fredericka the Great", cursive;
}

#btn {
  margin-top: 40px;
  margin-left: 150px;
  cursor: pointer;
  width: 140px;
  background-color: transparent;
  height: 50px;
  color: white;
  font-size: 25px;
  font-family: "Fredericka the Great", cursive;
  border-radius: 50px;
  border: 1px solid white;
}

#btn:hover {
  box-shadow: 0 0 10px 1px rgba(225, 225, 225, 0.95);
}

#btn-1 {
  /* margin-left: 200px; */
  margin-top: 30px;
  cursor: pointer;
  width: 140px;
  background-color: transparent;
  height: 50px;
  color: white;
  font-size: 25px;
  font-family: "Fredericka the Great", cursive;
  border-radius: 50px;
  border: 1px solid white;
}

#btn-1:hover {
  box-shadow: 0 0 10px 1px rgba(225, 225, 225, 0.95);
}

#f-req {
  display: none;
  margin-top: 40px;
  margin-left: -80px;
  font-size: 10px;
  color: #ed4040;
}

@media screen and (max-width: 768px) {
  .App {
    height: 100vh;
    border-width: 5px;
  }
  .title {
    font-size: 32px;
    margin-left: 32px;
    margin-top: 10px;
  }
  .input {
    font-size: 20px;
    margin-left: 80px;
  }
  .board-container {
    width: 50%;
  }
  .board-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #in {
    font-size: 20px;
  }
  #btn {
    margin-left: 120px;
    font-size: 20px;
  }
  .board-container {
    margin: 20px;
  }
  .move {
    font-size: 18px;
  }
  #btn-1 {
    font-size: 20px;
  }
}
